* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
}

header {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

nav {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.nav-list-item {
  margin: 15px 20px;
  list-style: none;
  display: inline-block;
  text-decoration: underline;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.color1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.color2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.color3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.color4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.color5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.color6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.color7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.color8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.color9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.color10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.color11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.color12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  background-color: gray;
  width: 100%;
  height: 120px;
  text-align: center;
}

p {
  color: white;
  line-height: 120px;
}